<template>
  <section class="container">
    <div class="grid grid-cols-12">
      <div class="col-span-8">
        <Hero />
      </div>
      <div class="col-span-4">
        <Fogbender />
      </div>
    </div>
  </section>
</template>

<script>
  import Hero from "./Hero.vue"
  // import {useFogbender} from "./../../fogbender_vue_2/src/use-fogbender"
  // import Fogbender from "./../../fogbender_vue_2/src/fogbender.vue"
  import Fogbender from "fogbender_vue_2/src/fogbender.vue"
  
  export default {
    // setup() {
      // return useFogbender()
    // }
    components: {Fogbender, Hero}
  }
</script>